table {
  padding: 2em;
  border-width: 1px;
  border-style: groove;
  border-color: black;
  border-collapse: collapse;

  th,
  td {
    padding: 2em;
    border-width: 1px;
    border-style: groove;
    border-color: black;
  }
}
