<!-- <button (click)="initNewHero()">Add Hero</button> -->
<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of superHeroes">
      <td>{{ hero.name }} <button (click)="editHero(hero)">Edit</button></td>
      <td>{{ hero.firstName }}</td>
      <td>{{ hero.lastName }}</td>
      <td>{{ hero.place }}</td>
    </tr>
  </tbody>
</table>
<app-edit-hero [hero]="heroToEdit" (heroesUpdate)="updateHeroList($event)">
</app-edit-hero>
